# Nirishma Shahi
# Data Types
  - Boolean
  - String
  - Number
  - None

# Python no 1 
## This is my first hello world program in python.

In [149]:
hello = "hello world"
print(hello)

hello world

# Python no. 2

In [150]:
pi = 3.14
print (pi)

3.14

# NUMBERS

In [151]:
# int
age = 20
# float
price = 10.5
# imaginary
real_imaginary = 1j
print (type(age))
print (type(price))

<class 'int'>
<class 'float'>

# Arithematic Operations

In [152]:
# addition
a = 5
b = 10
sum_of_ab = a+b
# subtraction
diff_of_ab = a-b
# multipication
product_of_ab = a*b
# division
div_of_ab = a/b
print(div_of_ab)
# modulus
rem_a_b = a%b
print(rem_a_b)
# power
total_ram_size = 2**16
print (total_ram_size)

0.5
5
65536

# String in Python
## Collection of characters

In [153]:
name = "Nirishma Shahi"
print (name)
#length of the string
total_no_of_chars = len (name)
print (total_no_of_chars)
#get first floor
first_char = name [0]
print (first_char)
# get fifth char
fifth_char = name [4]
print (fifth_char)
# last char
last_char = name [len(name)-1]
print(last_char)
# sub-string
first_name = name[0:3] # 0,1,2
last_name = name[3:14]
print("first last name", first_name, last_name)

Nirishma Shahi
14
N
s
i
first last name Nir ishma Shahi

### Example of sub-string

In [154]:
name = "Nirishma Shahi"
first_name = name[:8]
last_name = name[8:]
print (first_name,last_name)

Nirishma  Shahi

#### IF
#### ELIF
#### ELSE

In [155]:
day = int(input("Enter day"))
if day == 4:
    print ("I have to wake up at 5AM")
    print ("I hae to go to office")
    print ("Its Wednesday")
elif day == 5:
    print ("Its week day")
else:
    print("Its weekend")
print('test')

Its weekend
test

## Write a program to findout that the given number is odd or even.

In [157]:
number = int(input("Enter number"))
if number % 2 == 0:
    print ("Given number is even number")
else:
    print("given number is odd")

given number is odd

##### if time is
##### in between 10-12 print its time for Python
##### in between 12-14 "DSA" class
##### 14-16 "English"
##### default "getting ready"

In [109]:
time = int(input("Enter time"))
if time >=10 and time<12:
    print ("its time for python")
elif time >=12 and time<14:
    print ("DSA class")
elif time >=14 and time<16:
    print ("English")
else: 
    print ("Getting Ready")

its time for python

#### If you are from "Nepal" or "India" ticket for cablecar is 50 else 100

In [146]:
country = "Nepal"
if country == "Nepal" or country == "India":
    print ("ticket for cablecar is Rs.50")
else:
    print ("ticket for cablecar is Rs. 100")

ticket for cablecar is Rs.50

in other words

In [158]:
country = input("Enter your country")
if country.lower() == "nepal" or country.lower() == "india":
    print ("ticket for cablecar is Rs. 50")

else:
    print ("ticket for cablecar is Rs.100")

ticket for cablecar is Rs. 50

## LOOPS (iteration)
  - While
  - For

In [160]:
from time import sleep
counter = 0
while counter <10:
    print ("hello")
    print (counter)
    counter +=1
    sleep(1)

hello
0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9

In [165]:
from time import sleep
counter = 10
while counter>0:
    print ("Hello" + str(counter))
    counter -=1 
    sleep(1)

Hello10
Hello9
Hello8
Hello7
Hello6
Hello5
Hello4
Hello3
Hello2
Hello1

#### Find the sum of first n=100 natural numbers

In [168]:
n = 100
counter = 0 
sum = 0 
while counter <=n:
    sum += counter
    counter +=1
print(sum)

5050

#### Find the sum of even numbers of first n natural numbers

In [169]:
n = 100
counter = 2
sum = 0
while counter <=n:
    sum += counter
    counter += 2
print (sum)

2550

Applying if condition to this

In [171]:
n = 100
counter = 1
sum = 0
while counter <=n:
    if counter%2 == 0:
        sum += counter
    counter +=1
print (sum)

2550

### Reverse the given string 
   address = "Kathmandu Nepal"

In [173]:
address = "Kathmandu Nepal"
Length= len(address)-1
reversed_string = ''
print(Length)
while Length >=0: 
    reversed_string = reversed_string + address[Length]
    Length -=1
print (reversed_string)

14
lapeN udnamhtaK

# Composite Data Types
  1) Collection
   - List [numbers]
   - Tuple
   - Set
  2) Dictionary (Dict)

# Python List
list is ordered collecion of items.

In [1]:
numbers = [1,2,3,4,5,5,5]
students = ["Ram", "Sham"]

#access elements from list
first_number = numbers[0]
print(first_number)

#count total number of items
total_items = len(numbers)
print(total_items)

# last elements
last_element = numbers [total_items - 1]
print(last_element)

1
7
5

# List Methods
 - append (appends new item at the end)
 - pop 
 - remove
 - insert
 - count
 - clear ( delete all items)

In [3]:
numbers = [1,4,3,5,6,7,1,1]
print(numbers)
# append item
numbers.append(8)
print(numbers)
#remove last item
numbers.pop()
print(numbers)
#remove
numbers.remove(5)
print(numbers)
#insert
numbers.insert(2,10)
print(numbers)
#count
print(numbers.count(1))

numbers_1 = [1,2]
numbers_2 = [3,4]
numbers_1.extend(numbers_2)
print(numbers_1)
#clear
numbers_1.clear()
print(numbers_1)

[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 5, 6, 7, 1, 1, 8]
[1, 4, 3, 5, 6, 7, 1, 1]
[1, 4, 3, 6, 7, 1, 1]
[1, 4, 10, 3, 6, 7, 1, 1]
3
[1, 2, 3, 4]
[]

# Append 
  - Copy by reference

In [7]:
#
a = 5
b = a 
a = a+1
print (a,b)

a= ['Ram', 'hari']
b = a
a.append('Gopal')
print(b)
# check value exist in list
if 'Ram' in a:
    print ('Ram exist in a')

6 5
['Ram', 'hari', 'Gopal']
Ram exist in a

- b = a.copy()  {s hallow copy}

In [6]:
#
a = 5
b = a 
a = a+1
print (a,b)

a= ['Ram', 'hari']
b = a.copy()
a.append('Gopal')
print(b)
# check value exist in list
if 'Ram' in a:
    print ('Ram exist in a')

6 5
['Ram', 'hari']
Ram exist in a

# Loop through list (iterate over list)
  Find the sum of all items of given list

In [10]:
numbers = [1,2,3,4,5,6,6]
total_items = len(numbers)
index = 0
sum = 0
while index<total_items:
    element = numbers[index]
    sum += element
    print(element)
    index +=1

print (sum)

1
2
3
4
5
6
6
27

Find the max value from the given list?

In [18]:
numbers = [1,2,3,4,5,6,6]
total_items = len(numbers)
index = 0 
max_value = numbers[0]
while index<total_items:
     element > max_value 
     max_value = element
     index +=1

print (max_value)

6

FIlter values

In [32]:
students = ["Ram", "Hari", "Gopal"]
filtered_students = [student for student in students if student != "Ram"]
print(filtered_students)

numbers = [1,3,2,4,5,7,11,9,8]
# create list of even numbers from given list
even_numbers = [number for number in numbers if number %2==0]

['Hari', 'Gopal']

Join all list items into single string